*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: rgba(232, 221, 253, 0.623);
}

.container{
    display: flex;
    justify-content: center;
}

.heading{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #6e6c6c;
    line-height: 50px;
    text-transform: uppercase;
}

.left{
    height: 708px;
    width: 370px;
    background: transparent;
    border-radius: 20px;
    margin-top: 60px;
    margin-right: 40px;
    box-shadow: 0px 0px 10px rgba(191, 169, 233, 0.913);
    padding: 30px 40px;
}

.right{
    height: 708px;
    width: 370px;
    border-radius: 20px;
    margin-left: 40px;
    margin-top: 20px;
    padding: 30px 28px;
    box-shadow: 0px 0px 10px rgba(191, 169, 233, 0.913);
}

.heading i{
    height: 50px;
    width: 50px;
    background: #fff;
    color: rgba(191, 169, 233, 0.913);
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    transition: 1s;
}

.heading i:hover{
    background: rgba(167, 134, 227, 0.913);
    color: #fff;
}

.circle{
    height: 270px;
    width: 270px;
    background:rgba(232, 221, 253, 0.623) ;
    border-radius: 50%;
    box-shadow: 0px 0px 10px #fff;
    margin: 30px auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 8px 10px rgba(69, 69, 69, 0.527);
}

.circle img{
    border-radius: 50%;
}

.txt h2{
    padding-bottom: 10px;
}

.txt{
    color: #6e6c6c;
    text-align: center;
    padding-bottom: 40px;
}

.txt span{
    font-weight: 300;
    font-size: 14px;
}


/* Range */

@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      overflow: hidden;
      width: 100%;
      -webkit-appearance: none;
      background-color: #fff;
      border-radius: 10px;
    }
    
    input[type='range']::-webkit-slider-thumb {
      width: 10px;
      -webkit-appearance: none;
      height: 10px;
      /* cursor: ew-resize; */
      background: #434343;
      border-radius: 70%;
      box-shadow: -200px 0 0 200px rgba(191, 169, 233, 0.913);
    }

}

div.min{
    display: flex;
    justify-content: space-between;
    color: #6e6c6c;
    font-size: 11px;
}

.btn{
    display: flex;
    justify-content: space-evenly;
    margin-top:44px;
    font-size: 17px;
}

.btn1,.btn3{
    background: #fff;
    color: rgba(167, 134, 227, 0.913);
    height: 70px;
    width: 70px;
    border-radius: 50%;
    text-align: center;
    line-height: 70px;
    transition: 1s;
}

.btn1:hover{
    background-color: rgba(167, 134, 227, 0.913);
    color: #fff;
}

.btn3:hover{
    background-color: rgba(167, 134, 227, 0.913);
    color: #fff;
}
.btn2{
    background: rgba(167, 134, 227, 0.913);
    color:#fff;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    text-align: center;
    line-height: 70px;
    transition: 1s;
}

.btn2:hover{
    background: #000;
    color: #fff;
}

/* Right */

.rgt_heading{
    text-align: center;
    font-size: 14px;
    color: #6e6c6c;
    text-transform: uppercase;
}

/* .right{
    height: 700px;
    width: 370px;
    background: transparent;
    border-radius: 20px;
    margin-top: 60px;
    margin-right: 40px;
    box-shadow: 0px 0px 10px rgba(191, 169, 233, 0.913);
    padding: 45px 30px;
    text-align: center;
    margin-bottom: 50px;
} */

.mid_rgt{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding: 30px 40px; */
}

.circle1{
    height: 170px;
    width: 170px;
    background:rgba(232, 221, 253, 0.623) ;
    border-radius: 50%;
    box-shadow: 0px 0px 10px #fff;
    margin: 30px auto;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 8px 10px rgba(69, 69, 69, 0.527);
}

.circle1 img{
    border-radius: 50%;
}

.mid_rgt i{
    height: 50px;
    width: 50px;
    background: #fff;
    color: rgba(191, 169, 233, 0.913);
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    transition: 1s;
}

.mid_rgt i:hover{
    background: rgba(167, 134, 227, 0.913);
    color: #fff;
}

.p span{
    padding-right: 75px;
}

.q p{
    padding-right: 50px;
}

.bottom,.bottom1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.out{
    background: rgba(173, 159, 200, 0.41);
    box-sizing: border-box;
    width: 114%;
    height: 56px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: -21px;
}

.bottom1{
   padding: 7px 25px;
}

.txt_bot p{
    color: #6e6c6c;
}

.txt_bot span{
    color: #949292a1;
    font-size: 13px;
}

.btn4{
    height: 40px;
    width: 40px;
    background: #fff;
    color: rgba(191, 169, 233, 0.913);
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    font-size: 15px;
    transition: 1s;
}

.btn4:hover{
    background: #000;
    color: #fff;
}

.btn5{
    height: 40px;
    width: 40px;
    color: #fff;
    background: rgba(191, 169, 233, 0.913);
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    font-size: 15px;
    transition: 1s;
}

.btn5:hover{
    background: #000;
    color: #fff;
}



